:root {
    --primary-color: #E6E5AE;
    --secondary-color: #99595A;
    --tertiary-color: #E69C9D;
  }
* {
    font-family:sans-serif;
    box-sizing: border-box;
    color: var(--secondary-color);
    background-color: #E6E5AE;
}
.score-timer{
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 35px;
    background: var(--primary-color);
    color: var(--secondary-color);
}
.btn {
    color: var(--primary-color);
    background-color: var(--secondary-color);
    border: solid;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 10px;
  } 
.quiz {
    text-align: center;
    font-weight: bold;
    font-size: 60px;
    background-color: var(--tertiary-color);
    margin: 10px;
    padding: 10px,0;
}
.list-button {
  background: var(--primary-color);
  line-height: 1.5;
  font-weight: bold;
}
.startButton {
  color: var(--primary-color);
  background-color: var(--secondary-color);
  border: solid;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 10px;
}
.questionsDiv {
  background: var(--primary-color);
  text-align: center;
  font-size: 40px;
}
