:root {
    --primary-color: #E6E5AE;
    --secondary-color: #99595A;
    --tertiary-color: #E69C9D;
  }
* {
    font-family:sans-serif;
    box-sizing: border-box;
    color: var(--secondary-color);
    background-color: #E6E5AE;
}
.score-timer{
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 35px;
    background: var(--primary-color);
    color: var(--secondary-color);
}
.btn {
    color: var(--primary-color);
    background-color: var(--secondary-color);
    border: solid;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 10px;
    cursor: pointer;
  } 
.quiz {
    text-align: center;
    font-weight: bold;
    font-size: 60px;
    background-color: var(--tertiary-color);
    border-radius: 10px;
    margin: 0;
    padding: 10px, 20;
}
#tempAnswersDiv {
  list-style-type: none
}

.list-button {
  background: var(--primary-color);
  line-height: 1.5;
  font-weight: bold;
}
.startButton {
  
  text-align: center;
  color: var(--primary-color);
  background-color: var(--secondary-color);
  border: solid;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 10px;
  cursor: pointer;
}
.questionsDiv {
  background: var(--primary-color);
  text-align: center;
  font-size: 40px;
}
#answers {
  text-align: center;
  color: var(--primary-color);
  background-color: var(--tertiary-color);
  border: solid;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 10px;
  cursor: pointer;
}
#correctSnackbar {
  visibility: hidden;
  min-width: 250px;
  margin-left: -125px;
  background-color: rgb(68, 238, 25);
  color: #fff;
  text-align: center;
  border-radius: 2px;
  padding: 16px;
  position: fixed;
  z-index: 1;
  left: 50%;
  bottom: 30px;
}
#correctSnackbar.show {
  visibility: visible;
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}
#incorrectSnackbar {
  visibility: hidden;
  min-width: 250px;
  margin-left: -125px;
  background-color: rgb(248, 24, 24);
  color: #fff;
  text-align: center;
  border-radius: 2px;
  padding: 16px;
  position: fixed;
  z-index: 1;
  left: 50%;
  bottom: 30px;
}
#incorrectSnackbar.show {
  visibility: visible;
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}
@-webkit-keyframes fadein {
  from {bottom: 0; opacity: 0;}
  to {bottom: 30px; opacity: 1;}
}

@keyframes fadein {
  from {bottom: 0; opacity: 0;}
  to {bottom: 30px; opacity: 1;}
}

@-webkit-keyframes fadeout {
  from {bottom: 30px; opacity: 1;}
  to {bottom: 0; opacity: 0;}
}

@keyframes fadeout {
  from {bottom: 30px; opacity: 1;}
  to {bottom: 0; opacity: 0;}
}